<html>
    <head>
        <title>User Form</title>
    </head>
    <body>
        <div>
            <form method="get">
                <div>
                    <label>num1</label>
                    <input type="text" name="num1"/>
                </div>
                <div>
                    <label>num2</label>
                    <input type="text" name="num2"/>
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
                <div>
                    <label>Output</label>
                    <input type="text" value={{output1}}>
                </div>
            </form>
        </div>
    </body>
</html>